html {
  font-family: "Inconsolata", monospace;
  font-family: "Roboto", sans-serif;
  background-color: rgb(249, 244, 244);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------- STYLE SECTION NABVAR ---------------------- */
.navbar-menu {
  background-color: transparent;
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.7s;
  border: 1px solid black;
}

nav {
  position: relative;
  z-index: 1;
}

.navbar-menu ul {
  display: flex;
  margin-right: 18rem;
  /* border: 1px solid black; */
  margin-left: 2rem;
}

.icons-nav {
  margin-left: 27rem;
  display: flex;
  /* border: 1px solid black; */
}

.logo {
  /* position: absolute; */
  font-size: 20px;
  left: 7rem;
  font-weight: bold;
}

.nav-options li {
  /* border: 1px solid black; */
  list-style: none;
  margin: 0 1rem;
}

.nav-options li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px 10px;
  position: relative;
  flex-wrap: wrap;
  border-radius: 3px;

  transition: 0.7s;
}

.nav-options a:hover,
.nav-options a:focus {
  background-color: #ff4f4f;
  transition: 0.5s;
}

#check-moon,
#check-shopping,
#check-menu {
  display: none;
}

.modal-button,
.dark-mode-button,
.menu-button,
.light-mode-button {
  cursor: pointer;
}

html.dark-mode {
  filter: invert(100%);
}

html.dark-mode img {
  filter: invert(100%);
}

#check-moon:checked ~ .dark-mode-button {
  display: none;
}

.light-mode-button {
  display: none;
}

#check-moon:checked ~ .light-mode-button {
  display: block;
}

.menu-button {
  display: none;
}

/* tamaño de iconos */
.icons-nav img {
  width: 18px;
  margin: 0 0.5rem;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

/* ventana de compras */
.modal {
  position: fixed;
  top: 0;
  left: 70%;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.modal img {
  width: 350px;
}

.content-modal {
  margin-top: 2rem;
}

.content-modal p {
  color: gray;
}

#check-shopping:checked ~ .modal {
  opacity: 1;
  visibility: visible;
}

.contenedor {
  /* width: 405px; */
  width: 100%;
  height: 100vh;
  margin: auto;
  transition: all 300ms ease;
  background-color: white;
  position: relative;
  transform: translateX(30%);
}

#check-shopping:checked ~ .modal .contenedor {
  transform: translateY(0%);
}

.contenedor h2 {
  text-align: center;
  margin-top: 2rem;
}

.contenedor header {
  padding: 10px;
}

.contenedor label {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* ---------------------- STYLE SECTION HOME ---------------------- */

#home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text-home {
  padding-right: 14rem;
  padding-top: 8rem;
}

.text-home h1 {
  font-size: 35px;
  font-weight: bold;
  margin: 3rem 1rem 2rem 1rem;
}
.text-home p {
  color: gray;
  margin: 1rem 1rem 2rem 1rem;
  width: 400px;
}

.text-home span {
  color: #ff4f4f;
  font-size: 25px;
}

.buttons-home {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.buttons-home button {
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 1rem;
  cursor: pointer;
  border: none;
}

.buttons-home .gray {
  background-color: gray;
  color: black;
}

.img-home {
  background-color: rgba(255, 0, 0, 0.751);
  padding-top: 8rem;
}

.buttons-home button:hover,
button:focus {
  background-color: #ff4f4f;
  transition: 0.5s;
}

/* ---------------------- STYLE SECTION PRODUCTS ---------------------- */

#products {
  margin-top: 15rem;
  margin-bottom: 15rem;
}

#products .header-products {
  display: flex;
  justify-content: center;
  margin-left: 5rem;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  width: 90%;
}

#products .title-products {
  width: 15rem;
  margin: 1rem;
  /* border: 1px solid black; */
}

#products .header-products h2 {
  font-size: 20px;
  color: rgb(42, 40, 40);
  margin-bottom: 1rem;
  text-align: center;
}

#products .header-products p {
  font-size: 16px;
  color: gray;
  text-align: center;
}

#products .line {
  margin-top: 1rem;
  width: 0.5px;
  height: 60px;
  border: 1px solid rgb(180, 177, 177);
}

#products .content-target {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}

#products .target {
  margin-left: 5rem;
  margin-bottom: 1rem;
}

#products img {
  width: 300px;
  /* border: 1px solid black; */
  background-color: rgb(228, 225, 225);
  border-radius: 10px 10px 0 0;
  margin-bottom: -3px;
}

#products .txt-target {
  display: flex;
  margin-top: 0;
  margin-left: 2rem;
}

#products .txt-target p {
  color: gray;
  margin-left: 5px;
}

#products .txt-target span {
  font-size: 20px;
  font-style: bold;
}

#products .target h2 {
  margin-left: 2rem;
}

#products .data-target {
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  margin-top: 0;
  /* border: 1px solid black; */
}

/* ---------------------- STYLE SECTION FOOTER ---------------------- */

#footer {
  background-color: rgb(228, 225, 225);
  flex-wrap: wrap;
}

.content-txt {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  margin-top: 8rem;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 5rem;
}

#footer .txt {
  /* border: 1px solid black; */
  padding-right: 3rem;
  margin: 1rem;
}

#footer p {
  margin-top: 2rem;
  /* border: 1px solid black; */
  line-height: 30px;
  color: gray;
}

.line-footer {
  width: 90%;
  height: 1px;
  border: 1px solid rgb(249, 244, 244);
  margin: 3rem 5rem;
}

#footer .rigths-reserved p {
  text-align: center;
  font-size: 13px;
  /* border: 1px solid black; */
}

#footer .redes {
  /* border: 1px solid black; */
  margin-top: 2rem;
  display: flex;
  width: 100px;
  justify-content: space-between;
}

#footer .redes a {
  color: gray;
}

@media (max-width: 600px) {
  /* .menu-button {
    display: block;
  }

  .navbar-menu ul {
    position: fixed;
    width: 100%;
    margin-left: 0;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
    left: -100%;
    transition: all 0.5s;
    align-items: center;
    background-color:white;
  }

  .navbar-menu li {
    border-bottom: 1px solid rgb(207, 198, 198);
    margin: 5px;
    z-index: 1;
  }

  nav li:hover {
    background-color: rgb(245, 236, 236);
  }

  #check-menu:checked ~ ul {
    left: 0;
  } */

  .modal {
    position: fixed;
    top: 0;
    left: 0%;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
  }
}
